.container {
	text-align: center;
	font-family: Futura;
	max-width: 800px;
	margin: auto;
	background: rgba(255,0,255,0.2);
	padding: 3%;
}

.movie {
	margin: 10% 0;
	border-bottom: 2px solid rgb(255,0,255);
}